$label-color:#666666;
$tick-color:#e6e6e6;
$label-font-size: 10px;
$tick-length: 4px;

.axis {
  box-sizing: border-box;
  position: relative;
}

.ticks {
  position: relative;

  .tick {
    display: inline-block;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;

    &:before {
      content: '';
      display: block;
      width: 1px;
      height: $tick-length;
      background-color: $tick-color;
      transform: translateX(-50%);
    }
  }
}

 // here to compensate for the ticks being absolutely positioned and removed from the flow
.invisible-tick {
  visibility: hidden;
  font-size: $label-font-size;
  line-height: $label-font-size + $tick-length;
}


.tick-label {
  display: inline-block;
  transform: translateX(-50%); // center label around tick
  color: $label-color;
  font-family: 'Lato';
  font-size: $label-font-size;
  white-space: nowrap;
}

.axis-line {
  height: 1px;
  background-color: $tick-color;
}
